.hourly__container {
    grid-column-start: 2;
    grid-column-end:--1;
    grid-row-start: 2;
    display: flex;
    gap:15px;
    flex-wrap: wrap;
    
    

}

.hourly__card {
    width:80px;
    max-height:170px;
    padding-top:5px;
    background-color: #20293A;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;

    border-radius: 15px;
   
}

.time {

    font-size: 0.7rem;;
    color:
    #F2F5F9;
    border-bottom: 1px solid #030616;
    width:100%;
    padding:10px;
    margin-bottom: 5px;;
  
}

.hourly__icon {
    width:30px;
}

.description {
    font-size: 0.7rem;
    color:#97A3B6;
    margin-bottom: 10px;;
}

.hourly__temp {
    color: #F2F5F9;;
    font-size: 1.5rem;;
    font-weight: 500;
   
}